html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(coffee-time.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.col-0{width: 11.3%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    display: flex;
    justify-content: center;
    color: white;
    padding: 15px;
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
    margin:0;
    padding: 0px ;
    height: 35px;
    background-color :#1e6670;
}

.menu li {
    display: inline;
    float:inline-start;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 7px;
    color: #ffffff
    
}

.menu li a{
    display: block;
    cursor: pointer;
}


.menu li a:hover{
    background-color: gray;
}


[class*="col-"] {
    float: left;
    padding: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100vh;
    margin-left: 20vw;
    flex-wrap: wrap;
}

.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: xxx-large;
    font-style: italic;
}
